{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="fh5co-main">
        <aside id="fh5co-hero" class="js-fullheight">
            <div class="flexslider js-fullheight">
                <ul class="slides">
                    <li style="background-image: url(static/images/kozak-3.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                                    <div class="slider-text-inner">
                                        <h1><strong>Ми раді, що ви завітали на сайт Вінницького козацтва, перегляньте
                                            наші новини!</strong></h1>
                                        </h2>
                                        <p><a class="btn btn-primary btn-demo popup-vimeo"
                                              href="{% url 'contact' %}"> <i
                                                class="icon-monitor"></i>Зворотний зв'язок</a> <a href="{% url 'news' %}"
                                                class="btn btn-primary btn-learn">Дивитися новини<i
                                                class="icon-arrow-right3"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(static/images/kozak_2.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                                    <div class="slider-text-inner">
                                        <h1><strong>Ми раді, що ви завітали на сайт Вінницького козацтва, перегляньте
                                            наші новини!</strong></h1>
                                        </h2>
                                        <p><a class="btn btn-primary btn-demo popup-vimeo"
                                              href="{% url 'contact' %}"> <i
                                                class="icon-monitor"></i>Зворотний зв'язок</a> <a href="{% url 'news' %}"
                                                class="btn btn-primary btn-learn">Дивитися новини<i
                                                class="icon-arrow-right3"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(static/images/karta-kozak.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                                    <div class="slider-text-inner">
                                        <h1><strong>Ми раді, що ви завітали на сайт Вінницького козацтва, перегляньте
                                            наші новини!</strong></h1>
                                        <p><a class="btn btn-primary btn-demo popup-vimeo"
                                              href="{% url 'contact' %}"> <i
                                                class="icon-monitor"></i>Зворотний зв'язок</a> <a href="{% url 'news' %}"
                                                class="btn btn-primary btn-learn">Дивитися новини<i
                                                class="icon-arrow-right3"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>

        <div class="fh5co-narrow-content">
            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Сервис</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="fh5co-icon">
                            <i class="icon-settings"></i>
                        </div>
                        <div class="fh5co-text">
                            <h3>Трохи про нас</h3>
                            <p>Ми благодійна організація заснована на товаристві вінницького козацтва, яка допомагає
                                фронтовим містам гуманітарною допомогою</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="fh5co-icon">
                            <i class="icon-search4"></i>
                        </div>
                        <div class="fh5co-text">
                            <h3>Допомога</h3>
                            <p>До нашої організації може приєднатися будь-який волонтер, який хоче допомогти нашій
                                країні в тяжку хвилину </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="fh5co-icon">
                            <i class="icon-paperplane"></i>
                        </div>
                        <div class="fh5co-text">
                            <h3>Повідомлення</h3>
                            <p>Ви можете надіслати нам повідомлення зі своїми контактами, якщо вам цікава допомога нашим
                                військовим і цивільним особам</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="fh5co-icon">
                            <i class="icon-params"></i>
                        </div>
                        <div class="fh5co-text">
                            <h3>Оргазінація</h3>
                            <p>Оргазінація не комерційна, уся її діяльність абсолютно безоплатна і має тільки благі
                                цілі </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fh5co-narrow-content">
            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Новини</h2>
            <div class="row row-bottom-padded-md">
                {% for news in news_list %}
                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="{{ news.get_absolute_url }}" class="blog-img"><img src="{{ news.photo.url }}" class="img-responsive"
                                                          alt="Фото"></a>
                        <div class="desc">
                            <h3><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h3>
                            <p>{{ news.content|safe|linebreaks|truncatewords:5 }}</p>
                            <a href="{{ news.get_absolute_url }}" class="lead">Читати докладніше<i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="get-in-touch">
            <div class="fh5co-narrow-content">
                <div class="row">
                    <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                        <h1 class="fh5co-heading-colored">Дізнатися про нас докладніше</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                        <p class="fh5co-lead">Щоб дізнатися про нас докладніше рекомендуємо натиснути на кнопку
                            нижче</p>
                        <p><a href="{% url 'news' %}" class="btn btn-primary">Докладніше</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

